# Should server run in debug? 1 = Yes, 0 = No
DEBUG=0
# Django's secret key for application
SECRET_KEY=""

# Django inbuild log level
DJANGO_LOG_LEVEL="WARNING"
# Django root logg level
ROOT_LOG_LEVEL="WARNING"
# Main developer defined log level
MAIN_LOG_LEVEL="DEBUG"
## Log handlers ##
# Console display log level
CONSOLE_LOG_LEVEL="DEBUG"
# File save log level
JSON_FILE_LOG_LEVEL="INFO"